<% @page_title = "Events" %>

<div id="tab_menu" class="tabs">
	<span id="_map" class="tab_item tab_active">Map</span><span id="_events" class="tab_item">Events</span><span id="_report" class="tab_item" onclick="report_menu_clicked();">Report</span>
</div>

<div id="content_map">
	<div id="maparea" class="maparea">
		<div id="map" class="mapdiv"></div>
	</div>
	<div id="sidebar" class="sidebar">
	    <a class="handle" href="void()">Options</a>
	    <h3>Map Layers</h3>
	    <hr/>
		<ul>
			<li>
				<%= label_tag("weather_layer"); %>
				<%= check_box_tag("weather_layer", '', false) %>
			</li>
			<li>
				<%= label_tag("traffic_layer", "Traffic Layer"); %>
				<%= check_box_tag "traffic_layer", '', false %>
			</li>
		</ul>
	</div>
</div>

<div id="content_events" style="display:none;">
	<h2>Events</h2>
	<div>
		<div id="found"><%= pluralize(@events.size, 'Event') %> found</div>
	</div>
	<table class="listing" summary="Event List">
		<tr class="header">
			<th>Road</th>
			<th>District</th>
			<th>Direction</th>
			<th>Event Type</th>
			<th>Severity</th>
			<th>Title</th>
			<th>Description</th>
			<th>Traffic Pattern</th>
		</tr>
		<% @events.each do |event| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= event.road %></td>
			<td><%= event.district.name %></td>
			<td><%= event.direction.name %></td>
			<td><%= event.event_type.name %></td>
			<td><%= event.severity.name %></td>
			<td><%= event.title %></td>
			<td><%= event.description %></td>
			<td><%= event.traffic_pattern.name %></td>
		</tr>
		<% end %>
	</table>
</div>

<div id="content_report" class="" style="display:none;">
	<h2>Report An Event</h2>
	<div id="input_area">
		<div id="report_form">
		  	<div id="instructions">
		  		<h3>Instructions</h3>
		  		<ol>
		  			<li>Briefly describe the incident in the area below.</li>
		  			<li>Fill in the name of the road or highway.</li>
		  			<li>Indicate the direction of traffic affected.</li>
		  			<li>Place a marker in the map where the incident can be found</li>
		  			<li>Click 'Report' to submit the information.</li>
				</ol>
			</div>

			<%= form_for(:event, :url => {:action => 'create'}) do |i| %>
				<div id="report_inputs">
					<%= i.label(:description) %>
					<%= i.text_area(:description, size: "30x5") %>

					<%= i.label(:road) %>
					<%= i.text_field(:road) %>

					<%= i.label(:direction) %>
					<%= i.select(:direction_id, options_from_collection_for_select(@related[:directions], :id, :name)) %>

					<%= hidden_field_tag :coords, @coords %>
				</div>

			  	<div id="submit_div">
		  			<%= submit_tag("Report") %>
			  	</div>
			<% end %>
		</div>
		<div id="report_map_content">
			<div class="map_instruct">Click on the map to place a marker. You can re-click or move the marker as necessary.</div>
  			<div id="report_map" class="report_map"></div>
		</div>

		<!-- Data for javascript -->
		<div style="display:none;" id="related_data"><%=raw @related.to_json %></div>
	</div>
</div>

<script>
	$(document).on("page:load ready", public_ready);	// Call function when page loads.


	/**
	 * Adds markers from ruby array which is why this must be in the html and not js file.
	 */
	function addMarkers(){
	    // Should work for point and multipoint but no other types yet.
	    <% Event.all.each {|e| %>
	    	<% if e.published? %>
	      		<%= raw 'marker = publicMap.addMarker("'+e.location.geom_coords+'", null, false, "' + e.title + '", ' + "'" + e.format + "');" %>
	      	<% end %>
	    <% } %>		
	}
</script>